{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %} {% endblock %}</title>
		<meta name="description" content="AndiB89/car-trainer - eine Quiz Applikation, mit der du dein Wissen zu Daimler Fahrzeugen zeigen kannst.">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
		<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
		<link rel="icon" type="image/png" href="https://png.pngtree.com/svg/20160726/ab_1324746.png"/>
	</head>
	<body> 
		{% block body %} 
		{% endblock %} 

		<!-- Footer -->
		<footer class="page-footer font-small shadow pt-4">

			<!-- Copyright -->
			<div class="footer-copyright text-center py-3">Viel Spaß beim Spielen und Dank an <a href="https://www.edx.org/course/cs50s-web-programming-with-python-and-javascript?source=aw&awc=6798_1588159425_1a0369e7b5d368bbe27d4aef9847b85b&utm_source=aw&utm_medium=affiliate_partner&utm_content=text-link&utm_term=301045_https%3A%2F%2Fwww.class-central.com%2F">edX</a>! Andreas
			<a href="https://car-trainer.herokuapp.com/"> car-trainer</a>
			</div>
			<!-- Copyright -->
		
		</footer>
		<!-- Footer -->
	</body>
</html>