{% extends "car/base.html" %}

{% block title %}
    Car Trainer
{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-1" align="center">Car Trainer</h1>
            <p align="center">Welche Modelle kennst du?</p>   
        </div>

        <div class="shadow p-4 mb-4 bg-white">
            <h4 class="display-4" align="center">Konfigurator</h4>

            <form action="{% url 'game' %}" method="post">
                {% csrf_token %}  
                <div class="form-check">  
                    <label for="modus">Zu trainierende Kategorie</label>
                    <select class="form-control" name="modus">
                        {% for modus in modi %}
                            <option>{{modus}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-check">  
                    <label for="n_rounds">Anzahl Spielrunden - maximal {{maxRounds}}</label>
                    <input name="n_rounds" type="number" class="form-control" min=1 max="{{maxRounds}}" required/>
                </div> 
                <p></p>
                <div class="container">
                    <div class="row">
                        <div class="col text-center"> 
                            <input type="submit" class="btn btn-success" value="Teste dein Wissen!"/> 
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="shadow p-4 mb-4 bg-white">
            <h4 class="display-4" align="center">How to Play</h4>
            <p>In diesem Trainer stehen Autos aus dem Bereich Mercedes Benz PKW zur Verfügung.</p>
            <div id="accordion">
                <div class="card">
                  <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapseOne">
                      Modus "Klassenbezeichnung"
                    </a>
                  </div>
                  <div id="collapseOne" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <p>Wenn du diesen Modus wählst, hast du die offizielle Klasssenbezeichnung benennen, in die Baureihen seit dem Frühjahr 1993 eingeteilt werden. Hierbei handelt es sich um Klassenbezeichnungen mit bis zu drei Zeichen, inkl. Vaneo und Viano. Hier ein Beispielfahrzeug:</p>
                        <img src="{{Beispiel.images.url}}" alt="{{Beispiel.name}}" class="img-responsive" style="width:40%" class="center"> 

                        <p>Lösung: <b>{{Beispiel.class_name}}</b> (Dass es sich dabei um ein Mercedes-AMG G 63 handelt, das vernachlässigen wir der Einfachheit halber :-)</p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                    Modus "Baureihe"
                  </a>
                  </div>
                  <div id="collapseTwo" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <p> In diesem Modus gilt die vierstellige Baureihe, die sich aus einer dreistelligen, internen Baureihennummer plus führendem Buchstaben zusammensetzt. </p>
                        <img src="{{Beispiel.images.url}}"  class="img-responsive" style="width:40%" class="center"> 
                        <p>Lösung: <b>{{Beispiel.series}}</b> </p>
                        <label for ="Baureihe">Liste der führenden Baureihenbuchstaben</label>
                        <ul class="list-group" name = "Baureihe">
                            <li class="list-group-item">W: Wagen (Limousine)</li>
                            <li class="list-group-item">S: Stationswagen (Kombi)</li>
                            <li class="list-group-item">R: Roadster</li>
                            <li class="list-group-item">C: Coupé</li>
                            <li class="list-group-item">A: Autocabriolet (Cabrio)</li>
                            <li class="list-group-item">V: Verlängerte Limousine</li>
                            <li class="list-group-item">F: Fahrgestell</li>
                            <li class="list-group-item">X: Sonderaufbauten z. B. Geländewagen, SUV, Shooting Brake, Maybach</li>
                            <li class="list-group-item">Z: Sonderaufbauten z. B. Geländewagen, SUV, Shooting Brake, Maybach</li>
                            <li class="list-group-item">T: Tourer</li>
                            <li class="list-group-item">N: Baureihe mit alternativem Antrieb</li>
                          </ul>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapseThree">
                        Liste aller verfügbaren Fahrzeuge
                      </a>
                    </div>
                    <div id="collapseThree" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                          <p>Damit du die Fahrzeuge auch lernen kannst, findest du hier eine Aufstellung zu allen Fahrzeugen.</p>  
                          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                            Zeige Fahrzeuge
                          </button>
                          
                          <!-- Modal -->
                          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">Liste aller Fahrzeuge</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  
                                    <table class="table">
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Modell</th>
                                            <th scope="col">Klassenbezeichnung</th>
                                            <th scope="col">Baureihe</th>
                                            <th scope="col">Bild</th>
                                        </tr>
                                    
                                        {% for car in cars %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{car.name}}</td>
                                            <td>{{car.class_name}}</td>
                                            <td>{{car.series}}</td>
                                            <td><img src="{{ car.images.url}}" class="img-responsive" style="width:90%"> </td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                          </div>                      </div>
                    </div>
                  </div>
                </div>
              </div>
    </div>
    
    <div class="shadow p-4 mb-4 bg-white">
        <h4 class="display-4" align="center">Datenquelle</h4>
        <div style="border: 2px solid #F0F0F0; margin: 1em auto; padding:1em 1em; max-width:50em; border-radius:.2em;">
          <a href="https://de.wikipedia.org" style="display:block;flex:0 0 auto;display: flex;flex-direction: column;justify-content: center;padding-right:1em;">
              <img alt="Wikipedia" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/Wikipedia-logo-v2.svg/60px-Wikipedia-logo-v2.svg.png" class="img-responsive" style="width:10%">
          </a>
          <div>
      Diese Webseite basiert auf dem Artikel <a target="_blank" href="https://de.wikipedia.org/wiki/Mercedes-Benz-Pkw">Mercedes-Benz-Pkw</a> 
      aus der freien Enzyklopädie <a target="_blank" href="https://de.wikipedia.org">Wikipedia</a> 
      und steht unter der Lizenz <a target="_blank" href="http://creativecommons.org/licenses/by-sa/3.0/de/legalcode"> Creative Commons CC-BY-SA 3.0 Unported</a> (<a target="_blank" href="http://creativecommons.org/licenses/by-sa/3.0/de">Kurzfassung</a>).<br>
      In der Wikipedia ist eine <a target="_blank" href="https://de.wikipedia.org/w/index.php?title=Mercedes-Benz-Pkw&action=history">Liste der Autoren</a> verfügbar.
          </div>
      </div>
    </div>
{% endblock %}
