{% extends "car/base.html" %}

{% block title %}
    Car Trainer
{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-1" align="center">Car Trainer</h1>
            <p align="center">Welche Modelle kennst du?</p>   
        </div>
        

        <div class="shadow p-4 mb-4 bg-white">
            <h4 class="display-4" align="center">Wie viele Runden möchtest du spielen?</h4>

            <form action="{% url 'game' %}" method="post">
                {% csrf_token %}  
                <div class="form-check">  
                    <label for="n_rounds">Anzahl Spielrunden - maximal {{maxRounds}}</label>
                    <input name="n_rounds" type="number" class="form-control" max="{{maxRounds}}"/>
                </div> 
                <p></p>
                <div class="container">
                    <div class="row">
                        <div class="col text-center"> 
                            <input type="submit" class="btn btn-success" value="Teste dein Wissen!"/> 
                        </div>
                    </div>
                </div>

            </form>
        </div>
 
      </div>
{% endblock %}
